html {
    display: block;
    padding: 0px 25% 0px;
}
body{
    background-image: linear-gradient(90deg, rgb(189, 189, 189) 25%, white 25%, white 75%, rgb(189, 189, 189) 75%);
    background-size: 100% 100%;
    margin: 8px;
}

li{
    display: inline;
}
ul{
    text-align: center;
    width: auto;
}

#mainHeading{
    text-align:center;
    color: red;
    padding: 50px 50px 0px;
}

.funParagraph{
    color: green;
    text-align: center;
    padding: 50px 50px 50px;
}

#right{
    text-align: right;
}

#left{
    text-align: left;
}

.leftpic {
    max-width: 40%;
    height: auto;
    float: left;
    padding: 0px 5px 5px;
    
}

.rightpic {
    max-width: 25%;
    height: auto;
    float: right;
    padding: 0px 5px 5px;
}

article{
    padding: 30px 30px 20px
}

hr.dotted {
    border-top: 3px solid #000000;
    padding: 0px 0px 0px 0px;
}

p{
    padding: 5px 5px 5px;
    display: block;
    font-size: 16px;
    
}

.absleft{
    position: absolute;
    top:0;
    left: 0;
    opacity: 35%;
    width: 300px;
}



h3{
    font-weight: 100;
    font-style: italic;
    color: #293241;
    padding: 5px 0px 0px;
    font-size: 20px;
    
}